coverage --instrument_test_targets
coverage --experimental_cc_coverage
coverage  --combined_report=lcov
coverage  --coverage_report_generator=@bazel_tools//tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator:Main

build:debug -c dbg
build:debug --javacopt="-g"
build:debug --copt="-g"
build:debug --strip="never"
